name: test

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: sudo apt-get update && sudo apt-get install -y libunwind-dev liblzma-dev
    - name: Install just
      uses: taiki-e/install-action@just
    - name: Test
      run: just test
